.titulocontra{
    font-family: 'Forum', cursive;
    padding-top: 8%;
   
}

.subtitulocontra{
    font-family: 'Forum', cursive;
}

.campo3{
    border: none;
    border-radius: 25px;
    width: 500px;
    background-color: #F2F2F2;
    
}

